#maintenance-report {
    width: 200px;
}

#saveObjectButton {
    margin-top: 10px;
}

#add-maintenance-report-button {
    margin-top: 10px;
}

#addButton {
    margin-bottom: 10px;
}

#editObjectsButton {
    margin-bottom: 10px;
}

#editReportsButton {
    margin-bottom: 10px;
}

#logoffButton {
    margin-bottom: 10px;
}